* {
    margin: 0px;
    padding: 0px;
}

ion-title {
    font-family: 'Fredoka One' !important;
    font-size: 18px;
    font-weight: 100;
}

ion-content {
    --background: #fff3ac !important;
}

ion-list {
    --background: #fff3ac !important;
}

ion-item {
    --background: #fff3ac !important;
}

ion-textarea{
    border: solid 1px #f76406;
    background-color: #ffffff;
    text-align: center;
 }