<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons  slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Feedback</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="feedbackForm">
  <ion-list lines="none">
  <ion-item>
    <ion-label color="primary" class="ion-text-wrap">
      <ion-text color="primary">
        <h2> Write your feedback</h2>
      </ion-text>
     </ion-label>
    
  </ion-item>
  <ion-item>
    
    <ion-textarea [(ngModel)]="feedback" formControlName="feedback" placeholder="Your feedback here">
    </ion-textarea>
  </ion-item>
 
  <ion-item
  *ngIf="!feedbackForm.controls.feedback.valid  && (feedbackForm.controls.feedback.dirty || submitAttempt)"
>
  <p>Please enter a feedback.</p>
</ion-item>
  
<ion-item></ion-item>
</ion-list>

<ion-button expand="block" padding="10px" color="primary" fill="solid" (click)="sendEmail()">Submit</ion-button>
<!-- <p *ngIf="submitAttempt" style="color: #ea6153;">
  Please fill feedback.
</p> -->
</form>
</ion-content>
