<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h2><ion-label color="light">GET IN TOUCH WITH US</ion-label></h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h3><ion-label color="light">SYMPHONY GOSPEL TEAM</ion-label></h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <ion-label color="light">D.No 48-11/1-5/6C,  Guthikonda Dhanunjay Rao St.,</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <ion-label color="light">3rd lane, Currency Nagar, Ramavarapadu Ring,</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-wrap">
          <ion-label color="light">Vijayawada, Krishna Dist, AP, India – 520008.</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-wrap">
          <ion-label color="light">Phone No: 7569-861-197/ 9440-210-329 </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-wrap">
          <ion-label color="light">Email : symphonygospelteam@gmail.com</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list lines="none">
    <ion-item>
      <h2><ion-label color="light">GET IN TOUCH WITH US</ion-label></h2>
    </ion-item>
    <ion-item><h3><ion-label color="light">SYMPHONY GOSPEL TEAM</ion-label></h3></ion-item>
    <ion-item>
    <p><ion-label color="light"># 1-1-70/1,  Beside JK Gas Co.,</ion-label></p></ion-item>
    <ion-item><p><ion-label color="light">St.No. 1, Habsiguda, Hyderabad,</ion-label></p></ion-item>
    <ion-item><p><ion-label color="light">Telangana,India – 500007</ion-label></p>
    </ion-item>
    <ion-item><p><ion-label color="light">Phone No: 75698611697</ion-label></p></ion-item>
    <ion-item><p><ion-label color="light">Email : symphonygospelteam@gmail.com</ion-label></p></ion-item>
</ion-list> -->
<!-- fab placed to the bottom end -->
<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="sendEmail()">
    <ion-icon name="mail-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="dialNumber()">
    <ion-icon name="call-outline"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
</ion-content>
