<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary"> 
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Main Book</ion-title>
    <ion-button slot="end" (click)="presentModal()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="st-mainWrapper">
  <ion-list>
    <ion-item inset>
      <div class="st-mainWrapper">
        <div class="st-nNo">S.No</div>
        <div class="st-title">Song Title</div>
        <div class="st-Number">Song No.</div>
      </div>
    </ion-item>
    <ion-item *ngFor="let item of items;let i = index;" (click)="selectedSong(item)" inset>
        <div class="st-mainWrapper">
          <div class="st-sno">{{i+1}}.</div>
          <div class="st-content">{{ item.song_title_index }}</div>
          <div class="st-count">{{item.song_no}}</div>
        </div>
    </ion-item>
    <ion-item  *ngIf="items==0">

    </ion-item>
</ion-list> 
</ion-content>
<ion-footer class="footer_class">
  <ion-toolbar color="primary">
  <ion-button expand="full" fill="clear" color="light"  (click)="membershipPage()">
    <div *ngIf="isPayment==0">Get All Songs </div>
    <div *ngIf="isPayment!=0">Update Songs </div>
     <!-- <ion-icon color="light" name="arrow-forward-outline"></ion-icon> -->
  </ion-button>
</ion-toolbar>  
</ion-footer>
