// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: 'ramabhadraregular';
  src: url('../assets/fonts/rabhadra-font/ramabhadra-webfont.woff2') format('woff2'),
       url('../assets/fonts/rabhadra-font/ramabhadra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Fredoka One';
  src: url('../assets/fonts/fredoka-one-font/fredokaone-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/fredoka-one-font/fredokaone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #f76406;
  --ion-color-primary-rgb: 247,100,6;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #d95805;
  --ion-color-primary-tint: #f8741f;

  --ion-color-secondary: #55d98e;
  --ion-color-secondary-rgb: 85,217,142;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #4bbf7d;
  --ion-color-secondary-tint: #66dd99;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-color-favorite: #69BB7B;
  --ion-color-favorite-rgb: 105,187,123;
  --ion-color-favorite-contrast: #000000;
  --ion-color-favorite-contrast-rgb: 0,0,0;
  --ion-color-favorite-shade: #5ca56c;
  --ion-color-favorite-tint: #78c288;

  --ion-font-family: 'ramabhadraregular';
  --ion-custom-font-family: 'Fredoka One';
  --ion-background-color: #3f3f3e;
  --ion-gold-color: #d69e0c;
  --ion-background-color-rgb: 63,63,62;
}

// @media (prefers-color-scheme: dark) {
    // /*
    // * Dark Colors
    // * -------------------------------------------
    // */

    // body {
    //   --ion-color-primary: #f76406;
    //   --ion-color-primary-rgb: 247,100,6;
    //   --ion-color-primary-contrast: #ffffff;
    //   --ion-color-primary-contrast-rgb: 0,0,0;
    //   --ion-color-primary-shade: #d95805;
    //   --ion-color-primary-tint: #f8741f;

    //   --ion-color-secondary: #55d98e;
    //   --ion-color-secondary-rgb: 85,217,142;
    //   --ion-color-secondary-contrast: #000000;
    //   --ion-color-secondary-contrast-rgb: 0,0,0;
    //   --ion-color-secondary-shade: #4bbf7d;
    //   --ion-color-secondary-tint: #66dd99;

    //   --ion-color-tertiary: #5260ff;
    //   --ion-color-tertiary-rgb: 82,96,255;
    //   --ion-color-tertiary-contrast: #ffffff;
    //   --ion-color-tertiary-contrast-rgb: 255,255,255;
    //   --ion-color-tertiary-shade: #4854e0;
    //   --ion-color-tertiary-tint: #6370ff;

    //   --ion-color-success: #2dd36f;
    //   --ion-color-success-rgb: 45,211,111;
    //   --ion-color-success-contrast: #ffffff;
    //   --ion-color-success-contrast-rgb: 255,255,255;
    //   --ion-color-success-shade: #28ba62;
    //   --ion-color-success-tint: #42d77d;

    //   --ion-color-warning: #ffc409;
    //   --ion-color-warning-rgb: 255,196,9;
    //   --ion-color-warning-contrast: #000000;
    //   --ion-color-warning-contrast-rgb: 0,0,0;
    //   --ion-color-warning-shade: #e0ac08;
    //   --ion-color-warning-tint: #ffca22;

    //   --ion-color-danger: #f53d3d;
    //   --ion-color-danger-rgb: 245,61,61;
    //   --ion-color-danger-contrast: #ffffff;
    //   --ion-color-danger-contrast-rgb: 255,255,255;
    //   --ion-color-danger-shade: #d83636;
    //   --ion-color-danger-tint: #f65050;

    //   --ion-color-dark: #222428;
    //   --ion-color-dark-rgb: 34,36,40;
    //   --ion-color-dark-contrast: #ffffff;
    //   --ion-color-dark-contrast-rgb: 255,255,255;
    //   --ion-color-dark-shade: #1e2023;
    //   --ion-color-dark-tint: #383a3e;

    //   --ion-color-medium: #92949c;
    //   --ion-color-medium-rgb: 146,148,156;
    //   --ion-color-medium-contrast: #ffffff;
    //   --ion-color-medium-contrast-rgb: 255,255,255;
    //   --ion-color-medium-shade: #808289;
    //   --ion-color-medium-tint: #9d9fa6;

    //   --ion-color-light: #ffffff;
    //   --ion-color-light-rgb: 255,255,255;
    //   --ion-color-light-contrast: #000000;
    //   --ion-color-light-contrast-rgb: 0,0,0;
    //   --ion-color-light-shade: #e0e0e0;
    //   --ion-color-light-tint: #ffffff;

    //   --ion-font-family: 'ramabhadraregular';
    //   --ion-custom-font-family: 'Fredoka One';
    // }

    /*
    * iOS Dark Theme
    * -------------------------------------------
    */

    // .ios body {
    // --ion-background-color: #3f3f3e;
    // --ion-background-color-rgb: 63,63,62;

    // --ion-text-color: #4a4a4a;
    // --ion-text-color-rgb: 74,74,74;

    // --ion-color-step-50: #40403f;
    // --ion-color-step-100: #40403f;
    // --ion-color-step-150: #414140;
    // --ion-color-step-200: #414140;
    // --ion-color-step-250: #424241;
    // --ion-color-step-300: #424242;
    // --ion-color-step-350: #434342;
    // --ion-color-step-400: #434343;
    // --ion-color-step-450: #444443;
    // --ion-color-step-500: #454544;
    // --ion-color-step-550: #454545;
    // --ion-color-step-600: #464645;
    // --ion-color-step-650: #464646;
    // --ion-color-step-700: #474746;
    // --ion-color-step-750: #474747;
    // --ion-color-step-800: #484848;
    // --ion-color-step-850: #484848;
    // --ion-color-step-900: #494949;
    // --ion-color-step-950: #494949;
    // --ion-font-family: 'ramabhadraregular';
    // --ion-custom-font-family: 'Fredoka One';
    // }


    /*
    * Material Design Dark Theme
    * -------------------------------------------
    */

    // .md body {
    // --ion-background-color: #4a4a4a;
    // --ion-background-color-rgb: 63,63,62;

    // --ion-text-color: #4a4a4a;
    // --ion-text-color-rgb: 74,74,74;

    // --ion-color-step-50: #40403f;
    // --ion-color-step-100: #40403f;
    // --ion-color-step-150: #414140;
    // --ion-color-step-200: #414140;
    // --ion-color-step-250: #424241;
    // --ion-color-step-300: #424242;
    // --ion-color-step-350: #434342;
    // --ion-color-step-400: #434343;
    // --ion-color-step-450: #444443;
    // --ion-color-step-500: #454544;
    // --ion-color-step-550: #454545;
    // --ion-color-step-600: #464645;
    // --ion-color-step-650: #464646;
    // --ion-color-step-700: #474746;
    // --ion-color-step-750: #474747;
    // --ion-color-step-800: #484848;
    // --ion-color-step-850: #484848;
    // --ion-color-step-900: #494949;
    // --ion-color-step-950: #494949;
    // --ion-custom-font-family: 'Fredoka One';
    // }

    // .ion-color-favorite {
    //   --ion-color-base: var(--ion-color-favorite);
    //   --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    //   --ion-color-contrast: var(--ion-color-favorite-contrast);
    //   --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    //   --ion-color-shade: var(--ion-color-favorite-shade);
    //   --ion-color-tint: var(--ion-color-favorite-tint);
    // }
// }