.sidemenucontainer {
  background-color: aliceblue;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
  font-family: 'Fredoka One' !important;
  font-weight: 100;
}

.sidemenu{
  .st-asideMenu{
    clear: both;
    width:100%;
    display: block;
    .menu-icon{
      font-family: 'Fredoka One' !important;
      margin:0px;
      float:left;
      padding-top: 8px;
      font-size: 20px;
      line-height: 24px;
    }
    .menu-text{
      font-family: 'Fredoka One' !important;
      float:left;
      padding-left:10px;
      font-size: 18px;
      line-height: 32px;
    }
   }  
   .selected {
    border-left: 5px solid;
    color:var(--ion-color-primary);
    padding-left: 5px;
    ion-icon {
      color:#373737;
    }
  }
  }


  .st-headerTop{
    .st-media{
      float: left;
      .st-mediaOption{
        margin-top:25px;
        img{
          width: 64px;
          height: 64px;
          border: 4px solid rgb(125 125 120 / 50%);
          border-radius: 50%;
        }
      }
    }
    .media-body{
      float:left;
      padding-top: 25px;
      padding-left: 15px;
      line-height: 18px;
      text-transform: capitalize;
      border-bottom:1px solid var(--ion-color-danger);      
      font-family: 'Fredoka One';
      font-weight: 600;
      .st-icon{
        margin-top: -15px;
        .ion-color{
          p{
            margin:0px;
            font-family: 'Fredoka One';
            font-weight: 600;
          }
        }
        h2{
          text-transform: uppercase;
          font-size: 16px;
          color:var(--ion-color-danger);
          line-height: 22px;
          font-family: 'Fredoka One';
          font-weight: 600;
        }
        .batch-gold{
          padding-top: 5px;
          color: var(--ion-color-warning, #ffc409) !important;
          font-size: 14px;
          line-height: 30px;
          text-transform: capitalize;
          padding-bottom: 10px;
          font-family: 'Fredoka One';
          font-weight: 500;
        }
        .ion-color{
          p{
            font-size: 14px;
            line-height: 30px;
            text-transform: capitalize;
            font-family: 'Fredoka One';
            font-weight: 500;
            color:#666666;
          }
        }
      }
    }
  }

  .my-custom-class {
    --background: #ffffff;
  }