<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="sidemenucontainer">
        <ion-list class="sidemenu" no-lines>
          <ion-item menuClose class="sideMenuProfile">
            <div class="st-headerTop">
              <div class="st-media">
                <ion-avatar class="st-mediaOption" slot="start"> 
                  <img src="assets/img/jeevaswaraalu.jpg"> 
                </ion-avatar>
              </div>
              <div class="media-body">
                <div class="st-icon">
                  <ion-text uppercase color="primary">
                    <h2 uppercase>Jeeva Swaraalu</h2>
                    </ion-text>
                </div>
                <div class="st-icon">
                  <ion-text color="light">
                    <p><strong>AR Stevenson</strong></p>
                     </ion-text>
                </div>
                <div class="st-icon">
                  <div class="batch batch-gold">Songs Book</div>
                </div>
              </div>
            </div>
          </ion-item> 
          <div auto-hide="false" *ngFor="let p of appPages; let i = index">
            <!-- <ion-item class="custom-menu"  (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i"> -->
              <ion-item class="custom-menu" button  [class.selected]="selectedIndex == i" (click)="selectedIndex = i" (click)="openPage(p)">
             <div class="st-asideMenu">
               <div class="menu-icon" >
                <ion-icon color="warning" slot="start" [name]="p.icon + '-outline'" ></ion-icon>
               </div>
               <div class="menu-text" >
                <ion-label color="light">{{ p.title }}</ion-label>
              </div>
             </div>
            </ion-item>
            <span  *ngFor="let submenu of p.subMenu" icon-left>
              <ion-item class="custom-menu" button  *ngIf="submenu.showDetails" (click)="openSubmenuPage(submenu.title)">
                <div class="st-asideMenu">
                  <div class="menu-text" >
                   <ion-label color="light">{{submenu.title}}</ion-label>
                 </div>
                </div>
              </ion-item>
          </span>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
