<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">About Jeevaswaralu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../assets/img/jeevaswaraalu.jpg" />
  </div>
    <div class="ion-text-justify">
        <p><strong>Symphony Gospel</strong> Team is the fruit of God’s calling to Dr AR Stevenson for using the God given talents to win souls for Him through music and for reviving Church ministries.</p>
        <p>Dr A.R. Stevenson, the Founder and President of the Symphony gospel team is continuing in God's ministry as lyricist, singer and music director, while working as a physics lecturer in Government polytechnic College. God inspired Dr. A.R. Stevenson through Holy Spirit to write 1000 songs, compose music to them and release them in the form of 105 albums so far.</p>
        <p>All these songs are compiled by him, in the form of this book ‘Jeevaswaraalu’, for the benefit of the believers across the globe. All the songs are scripture-based and are meaningful with great literary, spiritual and musical values. These songs bring relief to the tormented souls. Dr. A.R. Stevenson, by the grace of God, has produced songs which stand out from the cacophony of commercially oriented Christian songs of these contemporary days. May God bless each of us through these songs in a mighty way.</p>
    </div>
</ion-content>
