ion-title {
    font-family: 'Fredoka One' !important;
    font-size: 18px;
    font-weight: 100;
}

p {
    color: #fff !important;
    
}
img.img-div {
    width: 100%;
    height: 50%;
}
ion-card {
    position: relative;
    text-align: center;
    margin: 1px !important;
    width: 100% !important;
    padding-right: 2px !important;
    h5{
        color: #fff !important;
    }
}
ion-card img {
    width: 100%;
    max-height: 250px;
}
.card-md p {
    color: #fff;
}
 .card-content-md {
    padding: 25px 16px 13px 16px;
    font-size: 1.4rem;
    line-height: 1.5;
} 
p.justify {
    text-align: justify;
}