<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">About Symphony</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2 yellow>WELCOME TO SYMPHONY GOSPEL TEAM</h2>
  </div>
  
  <div class="ion-text-end"><h5 yellow><ion-label>-DIVINE MUSIC THAT TRANSFORMERS</ion-label></h5></div>
  <div class="ion-text-justify">
  <p class="justify">Music is the Language of the Soul. If we ever praise God,  we praise him in a song with all musical accompaniments befitting the Highest power and spirit with our  Souls.</p>
  <p class="justify">Symphony Gospel Team is founded and steered by Dr. AR Stevenson to mesmerize and marvel hearts. His songs and music sets souls on fire with deep prayer and worship as they come naturally to him from his heart. The signature Music serves Ministries across all denominations globally. Dr. AR Stevenson writes lyrics inspired from scripture and his reflections and sets them into melodious swaras which flow from his heart. They are playful and boisterous,  meditative and quite reflective depicting all emotions for all occasions and events in life for prayer and worship in Ministries. He has written, composed and recorded over 1000 songs in the form of 105 Albums and still counting. Dr. AR Stevenson's Mission is to serve the Lord through Music- as a Singer, lyricist and composer. He is a Doctorate in his Subject as an Academician but his heart beats for Music and Melody.</p>
  <p class="justify">Dr. AR Stevenson's soulful music influences and serves a large multitudes of Chrstian believers across the globe. Known for its deep content and meaning, uplifting musical renditions and with spiritual sojourns into the valleys of bliss and haromony.  They standout as pure shining Jewels in the Crown of Spiritual  Christian Melodies cutting away from commercial overtures.</p>
  <p class="justify">All the songs are recorded in high standard state-of-the-art studio to give you highest quality and great spiritual experience of melody at its highest best.
    Be sure to support him by subscribing to the YOUTUBE Channel Symphony Music in his mission to reach and help scores of chrstian believers to wallow and be swayed in praise and worship -  experiencing the true joy in listening and partaking in reflective prayer and spiritual ecstasy.
    We thank you for partaking in this Great Mission spreading this unique service of  Prayer and Worship through melodious Music to all people across the World!!</p>
    
    
  </div>
  <div class="ion-text-right">
    <p color="primary">Yours in Christian Music and Melody</p>
    <p color="primary">Dr. AR Stevenson</p>
  </div>
</ion-content>
