* {
    margin: 0px;
    padding: 0px;
}

ion-content {
    --background: #fff3ac !important;
}

ion-list {
    --background: #fff3ac !important;
}
ion-item {
    --background: #fff3ac !important;
}

ion-searchbar {
    --background: #fff3ac !important;
}

ion-title {
    font-family: 'Fredoka One' !important;
    font-size: 18px;
    font-weight: 100;
}

.st-mainWrapper{
    width:100%;
    clear: both;
    .st-nNo{
        color: #f53d3d;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        text-align: left;
        width:40px;
        float:left;
        font-family: "ramabhadraregular";
    }

    .st-title{
        color: #f53d3d;
        width: 250px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        text-align: left;
        width: 205px;
        float:left;
        font-family: "ramabhadraregular";
    }

    .st-Number{
        color: #f53d3d;
        width:40px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        text-align: right;            
        float:right;
        font-family: "ramabhadraregular";
    }
    .st-sno{
        float:left;
        font-size: 16px;
        line-height: 22px;
        color:#333333;
        font-weight: normal;
        font-family: "ramabhadraregular";
        width:40px;
    }
    .st-content{
        float: left;
        width: 250px;
        font-size: 16px;
        line-height: 22px;
        padding: 1px 10px 0px;
        color: #333333;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;            
        font-family: "ramabhadraregular";
    }
    .st-count{
        width:40px;
        float:right;
        text-align: right;
        color: #f53d3d;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }

    // .st-headLine{
        
    // }   
}



.footer-section {
    margin-top:-20px;
    font-weight: 500;
    font-size:16px;
    font-family: "ramabhadraregular";
}