<ion-header >
  <ion-toolbar mode="ios" color="primary"> 
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <section>
  
      <ion-title color="light">
        Welcome To 
        Jeeva Swaralu
      </ion-title>
 
</section>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
      <ion-card class="ion-card-blue" (click)="mainSongs()">
        <ion-card-content>
          <ion-icon name="book-outline" color="primary"></ion-icon>
          <div class="ion-text-center"><ion-label color="primary">Main Songs</ion-label></div>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col size="6">
      <ion-card class="ion-card-blue" (click)="childrenSongs()">
        <ion-card-content>
          <ion-icon name="people-outline" color="primary"></ion-icon>
          <div class="ion-text-center"><ion-label color="primary">Children Songs</ion-label></div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
      <ion-card class="ion-card-blue" (click)="proVersion()">
        <ion-card-content>
          <ion-icon name="cart-outline" color="primary"></ion-icon>
          <div class="ion-text-center"><ion-label color="primary">Pro Version</ion-label></div>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col size="6">
      <ion-card class="ion-card-blue" (click)="aboutSymphony()">
        <ion-card-content>
          <ion-icon name="brush-outline" color="primary"></ion-icon>
          <div class="ion-text-center"><ion-label color="primary">About Symphony</ion-label></div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
      <ion-card class="ion-card-blue" (click)="aboutJeevaSwaralu()">
        <ion-card-content>
          <ion-icon name="headset-outline" color="primary"></ion-icon>
          <div class="ion-text-center"><ion-label color="primary">About Jeeva..</ion-label></div>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col size="6">
      <ion-card class="ion-card-blue" (click)="feedback()">
        <ion-card-content>
          <ion-icon name="newspaper-outline" color="primary"></ion-icon>
          <div class="ion-text-center"><ion-label color="primary">Feedback</ion-label></div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
      <ion-card class="ion-card-blue" (click)="contact()">
        <ion-card-content>
          <ion-icon name="chatbubbles-outline" color="primary"></ion-icon>
          <div class="ion-text-center"><ion-label color="primary">Contact</ion-label></div>
        </ion-card-content>
      </ion-card>
      </ion-col>
      
    </ion-row>
  
</ion-grid>
</ion-content>
