ion-title {
    font-family: 'Fredoka One' !important;
    font-size: 18px;
    font-weight: 100;
}

ion-content {
    --background: #fff3ac !important;
}
.buy_color {
    color: #d8ce35;
    font-size: 17px;
    font-weight: 400;
}
ion-item.buy_select {
    position: relative;
    margin-top: 10px;
    margin-bottom: 43px;
    padding-left: 0px;
}
.item-select{
    color: #fffcfc !important;
}
.item-select .label-md{
    color: #fffcfc !important;
}
ion-card.notes_card_image {
    border-radius: 7px;
    height: 50px;
    width: 230px;
    margin: 15px auto auto auto;
}
img.card_image {
    height: 50px;
    width: 230px;
}
.make_payment {
     padding: 50px 20px 15px 11px;
     font-size: 1.0em;
     margin-top:20px;
}