<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Pro Version</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <!-- *ngIf="httpService.userType('id')==''" -->
   <!--  -->
   <div *ngIf="httpService.userType('id')!=''">
    <div *ngIf="isPayment==0">
  <ion-card  class="welcome-card">
    <ion-img src="/assets/img/razorpay.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title><ion-label color="light">Make a payment to enjoy full songs</ion-label></ion-card-title>
      <ion-row>
        <ion-col>
          <ion-label color="light">
          Total Payment
        </ion-label>
        </ion-col>
        <ion-col>
          <ion-label color="light">
            <strong>({{selectedCountry.symbol}}{{selectedCountry.amount}}) </strong>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="payWithRazorpay()">Pay with RazorPay</ion-button>
    </ion-card-content>
  </ion-card>
  </div>
</div>
  <div>
        <!-- *ngIf="isPayment!=0" -->
    <div *ngIf="isPayment!=0" padding-top class="make_payment">
      Already purchased

      <ion-button expand="block" (click)="updateSongs()">Update Songs</ion-button>
    </div> 
    </div> 
    <!-- <ion-card class="notes_card " *ngIf="httpService.userType('id')==''"> -->
    <!-- <ion-card-content text-left class="notes_content"> -->
      <div class="notes_card " *ngIf="httpService.userType('id')==''">
        <!-- <div class="notes_content"> -->
          <div class="ion-text-justify">
    <p class="justify" >
      <span class="gap">  </span><strong>  ప్రభువైన యేసుక్రీస్తు </strong>నామంలో సింఫని గాస్పల్ టీమ్ నుండి మీకు శుభములు. సుమారు 30 సంవత్సరాలలో
    దేవుని కృపను బట్టి నేను రచించి, స్వరపరచిన వాక్యాధార గీతాల పుస్తకం <strong>“జీవస్వరాలు”</strong> App రూపంలో మీకు
    అందుబాటులోకి తెచ్చినందుకు సంతోషిస్తున్నాం. ఈ App మీకు Trail Version లో 20 పాటలతో ఉచితంగా
    ఇవ్వబడింది.
    </p>
    <p class="justify">
       <span class="gap">  </span>తగిన మొత్తాన్ని అన్ లైన్ లో చెల్లించి అన్ని పాటలతో కూడిన పూర్తి పుస్తకాన్ని పొందండి. భవిష్యత్ లో
    పుస్తకంలో చేర్చే పాటలు కూడా ఎప్పటికప్పుడు మీకు అప్డేట్ అవుతాయి.
    </p>
    <p class="justify">
       <span class="gap">  </span>ప్రపంచవ్యాప్తంగా ప్రాచుర్యం పొంది, ప్రజలకు ఆదరణ - ఆశీర్వాదం కలిగిస్తున్న, సుళువుగా నేర్చుకొని
    పాడుకోగలిగిన ఈ అర్ధసహిత వాక్యాధార గీతాలు మీకు తోడుగా ఉండి మిమ్మల్ని ధైర్యపరచి నడిపించాలని
    ఆకాంక్షిస్తూ.
    </p>
    <p class="text-right">
      <strong>మీ స్టీవెన్సన్</strong>
    </p>
    <p class="justify">
      <strong>గమనిక:</strong> ఉచితంగా పొందాలని ఆశించకండి. మా పరిచర్యకు ప్రోత్సాహకరంగా, మీకు దీవెనకరంగా ఉండాలంటే
    తగిన మొత్తాన్ని సంతోషంగా చెల్లించి App ను పొందండి.
    </p>
    
    <p class="justify"> <span class="gap">  </span> Greetings to you in the name of <strong>Jesus Christ our Lord</strong> from Symphony Gospel Team. We are happy to bring to
    your availability, the App <strong>JEEVA SWARALU</strong>, the book of songs which is written and composed by me with the grace
    of Almighty in almost 30 years. Trail Version of this App is free to download with a collection of 20 songs.</p>
    <p class="justify">
    <span class="gap">  </span>Download the book with all songs by paying the specified amount online. New additions in future will be updated to
    this app time to time</p>
    <p class="justify"><span class="gap">  </span>These Scripture based, meaningful songs which are popular worldwide, giving comfort and blessings to many
    and are easy to learn and sing. I wish these songs may be with you, encourage you and lead you in His ways.</p>
    <p class="text-right">Yours <br><strong>Stevenson</strong></p>
    <!-- <p class="text-right"></p> -->
    <p class="justify"><span class="gap">  </span><strong>Note :</strong> Don’t expect it for free. Pay happily the specified amount and get it to encourage our ministry and be blessed.</p>
    <!-- </ion-card-content> -->
    <!--  -->
    </div>
  </div>
    <!-- </ion-card> -->
    </ion-content>
    <ion-footer class="footer_class">
         <ion-button  color="light"  class="footer_button" fill="clear" expand="full" *ngIf="httpService.userType('id')==''" (click)="googleSignUp()">Subscribe 
        </ion-button> 
    </ion-footer>
